
DOCTYPE HTML
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Название страницы
    meta(name="description" content="Описание страницы")
    link(rel="stylesheet" type="text/css" href="/assets/css/style.css")
    <!-- <link rel="icon" href="/img/favicon.png">-->
  body
    header
      h1 Подготовка к ЕГЭ по физике и математике
      nav Навигац
    main
      section
        h1 Заголовок страницы
            p Основная часть
    aside Боковая колонка (сайдбар)
    footer Подвал