
<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Название страницы
    meta(name="description" content="Описание страницы")
    link(rel="stylesheet" type="text/css" href="./css/styles.css")
    <!-- <link rel="icon" href="/img/favicon.png">-->
  body
    div.page
        header
            div.header-logo
                h1 Подготовка к ЕГЭ
            nav.main-menu
                ul
                    li.inline
                        a Главная
                    li.inline
                        a Физика
                    li.inline
                        a Математика
                    li.inline
                        a Репетитор
        div.grid-container
            div.grid-item
                main
                    section
                        h1 Заголовок страницы
                        p Основная часть
            div.grid-item
                aside.aside

        footer Подвал